#body {
  font-family: Work Sans;
  color: #31373d;
}

#company {
  width: 101px;
  margin: 20px auto;
}

#logo {
  font-family: Russo One;
  color: #094aa9;
  font-size: 2em;
  text-align: center;
}

#dash-title {
  animation: fade 5s;
}

@keyframes fade {
  0% {
    color: #363636;
  }
  100% {
    color: #fff;
  }
}

#select {
  position: absolute;
  float: right;
  right: 10px;
  top: 10px;
  width: 15%;
}

 h1 {
   text-align: center;
   margin: 30px auto 5px;;
 }

 p {
   text-align: center;
   margin: 0px auto 30px;;
 }

.content {
  width: 80%;
  margin: auto;
}

.content > div {
  text-align: center;
}

#call-action {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 40px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#name {
  width: 55%;
  font-weight: 100;
  font-family: Work Sans;
}

#org {
  width: 55%;
  font-weight: 100;
  font-family: Work Sans;
}

#name > input {
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 25px auto 3px;
  height: 40px;
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid #094aa9;
  border-radius: 0;
}

#org > input {
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 25px auto 3px;
  height: 40px;
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid #094aa9;
  border-radius: 0;
}

.title {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 1.5em
}

.org-display {
  color: #094aa9;
  font-size: 2em;
  margin: 60px auto;
}

#website {
  font-size: .5em;
  color: #31373d;
  margin-top: 5px;
  font-weight: 100;
}

#matches {
  font-size: .75em;
  font-weight: bold;
}

#go {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #0b68ee;
  text-align: center;
}

#go:hover {
  background-color: #0b68ee;
  color: #fff;
}

#org-address > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #094aa9;
}

#org-city > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #094aa9;
}

#org-state {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #094aa9;
}

#org-zipcode > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #094aa9;
}

#org-phone > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #094aa9;
}

.contact {
  margin: 30px 15px;
  width: 20%;
}

#popup-button {
  background-color: #fff;
  font-size: 20px;
  color: #094aa9;
}

#org-enter {
  display: inline-block;
  margin: 20px auto;
  font-size: 1.5em;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
}

.org-title {
  margin-bottom: 20px;
  font-weight: 200;
}

#buttons {
  display: inline-block;
}

#next {
  width: 150px;
  margin: 30px 75px;
  position: absolute;
  right: 100px;
}

#back {
  width: 150px;
  margin: 30px 75px;
  position: absolute;
  left: 100px;
}

#next > button > a > div {
  color: #094aa9;
}

#back > button > a > div {
  color: #094aa9;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #dededf;
  margin-bottom: 30px;
  margin-top: 30px;
  position: absolute;
  top: 255px;
  left: 57%;
}

#circle-2 {
  left: 57%;
  top: 435px;
}

#color-title {
  font-variant-caps: all-petite-caps;-caps;
  margin: 20px auto;
  font-size: 1.5em;
  font-weight: bold;
}

.circle-picker {
  z-index: 1;
  margin-left: 30%;
  display: inline-block;
}

#primary-title {
  margin: 25px auto;
}

#secondary-title {
  margin: 25px auto;
}

.photos-title {
  font-variant-caps: all-petite-caps;-caps;
  margin: 20px auto 0px;
  font-size: 1.5em;
  font-weight: bold;
}

.dropzone {
  margin: 25px auto;
  width: 100%;
  height: 350px;
  border-style: hidden;
}

.dropzone:hover {
  cursor: pointer;
}

.dropzone-description {
  color: #094aa9;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.drop {
  width: 100px;
}

#finish {
  width: 150px;
  margin: 30px 75px;
  position: absolute;
  right: 100px;
}

#finish > button > a > div {
  background-color: #094aa9;
  color: #fff;
}

.display {
  margin: 0 auto;
  max-height: 200px;
  background-size: contain;
}

#sidebar {
  width: 22%;
  min-width: 200px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #363636;
  position: fixed;
}

#dashboard {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#dash-body {
  position: absolute;
  top: -255px;
  left: 73px;
  height: 100%;
  min-height: 2000px;
}

#dash-circle-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #dededf;
  margin: 5px auto;
}

#dash-circle-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #dededf;
  margin: 5px auto;
}

#dash-title {
  color: #fff;
  font-size: 1.7em;
  font-family: Russo One;
  margin: 15px auto;
}

.edit {
  color: #fff;
}

#hide {
  float: right;
  right: 7px;
}

.category {
  margin: 15px auto;
}

.display-category {
  margin: 10px auto;
}

#dash-name {
  margin: 10px auto;
}

#dash-name > input {
  font-size: 1em;
}

#dash-org {
  margin: 8px auto 15px;
}

#dash-org > input {
  font-size: 1em;
}

#dash-address {
  margin: 8px auto;
}

#dash-address > input {
  font-size: 1em;
}

#dash-city {
  margin: 8px auto;
}

#dash-city > input {
  font-size: 1em;
}

#dash-state {
  margin: 8px auto;
  width: 100px;
  min-width: 100px;
  display: inline-block;
}

#dash-state > input {
  font-size: 1em;
}

#dash-zipcode {
  margin: 8px 15px 8px 15px;;
  display: inline-block;
  width: 150px;
  min-width: 150px;
}

#dash-zipcode > input {
  font-size: 1em;
}

#dash-phone {
  margin: 8px auto 15px;
}

#dash-phone > input {
  font-size: 1em;
}

i {
  font-size: .5em;
}

#radio-address {
  background-color: #363636;
  border: none;
  margin: 5px auto;
  box-shadow: none;
}

#display_address > input:checked~label:before {
  background-color: #21ba45!important;
}

#radio-phone {
  background-color: #363636;
  border: none;
  margin: 5px auto;
  box-shadow: none;
}

#display_phone > input:checked~label:before {
  background-color: #21ba45!important;
}

#radio-news {
  background-color: #363636;
  border: none;
  margin: 5px auto;
  box-shadow: none;
}

#display_news > input:checked~label:before {
  background-color: #21ba45!important;
}

#radio-events {
  background-color: #363636;
  border: none;
  margin: 5px auto;
  box-shadow: none;
}

#display_events > input:checked~label:before {
  background-color: #21ba45!important;
}

#dash-segments {
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: none;
}

#background-photo {
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  border-bottom: solid 10px #dededf;
}

#background-photo:hover {
  background-color: #bcbcbc;
  cursor: pointer;
}

#website-background-photo {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid 10px #dededf;
  padding: 0;
}

#profile-photo {
  width: 225px;
  height: 225px;
  border: solid 15px #fff !important;
  border-radius: 50%;
  background-color: #dededf;
  position: fixed;
  z-index: 2;
  margin: 0 auto;
  background-size: contain;
  padding: 0;
  left: -5px;
}

#website-profile-photo {
  width: 225px;
  height: 225px;
  border: solid 15px #fff !important;
  border-radius: 50%;
  background-color: #dededf;
  position: absolute;
  z-index: 2;
  margin: 0;
  background-size: contain;
  padding: 0;
  top: 150px;
  left: -25px;
}

#default-org-name {
  font-size: 4em;
  z-index: 1;
  margin: 150px auto 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

#dash-drop-photo {
  border-radius: 50%;
  width: 225px;
  height: 225px;
}

#background-camera > i {
  font-size: 4em;
}

#background-camera {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60%;
  margin: auto;
  left: 49%;
  color: #7f7f7f;
}

#background-camera:hover {
  color: #000;
}

#profile-camera {
  position: absolute;
  top: 45%;
  font-size: 2em;
  left: 41.5%;
  color: #7f7f7f;
}

#profile-camera:hover {
  cursor: pointer;
  color: #000;
}

#view-site {
  float: right;
  right: 10px;
  top: 10px;
}

.body-info {
  font-size: 2em;
  height: 30px;
  margin: 10px auto;
}

#news-segment {
  font-size: 2em;
  font-weight: bold;
  height: 100%;
  max-width: 45%;
}

#events-segment {
  font-size: 2em;
  font-weight: bold;
  height: 100%;
}

#dash-org-title {
  font-size: 3em;
  font-weight: bold;
  margin: 7px auto;
}

.status {
  margin-top: 15px;
}

#news-form {
  margin: 20px auto;
}

#events-form {
  margin: 40px auto 20px;
}

ul {
  list-style-type: none;
}

#news-form {
  font-size: 1em;
  padding: 5px auto;
  width: fill;
  margin-bottom: 30px;
}

#news-posts {
  text-align: left;
}

#new-post {
  border: solid 1px #dededf;
  border-radius: 3px;
  padding:  30px 15px;
  margin: 25px 0;
  left: 0;
  overflow: hidden;
}

#news-submit {
  float: right;
}

#events-submit {
  float: right;
  margin: 15px auto;
}

#timestamp {
  float: right;
  font-size: .7em;
}

#website-news {
  font-size: 2em;
}

#events-container {
  position: relative;
  width: 100%;
}

#news-container {
  margin-top: 100px;
}

#plugins {
  height: 100%;
  min-height: 500px;
}

#calendar {
  width: 200px;
  height: 600px;
  overflow: hidden;
  border: solid 1px #dededf;
  border-radius: 3px;
}
